body {
    background-color: #222222;
}

#renovations {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#notfound {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#caption {
    display: block;
    font-size: 45px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 255, 1);
}

#linkback {
    display: block;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}